/* Universal Styles */

body {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 20px;
}

p {
    line-height: 1.5em;
}

.section-header {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

#bio, #skills, #projects, #contact {
    margin-top: 75px;
}

#bio, #skills, #contact {
    margin-left: 10%;
    margin-right: 10%;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(128, 22, 13);
    padding: 15px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: rgba(128, 22, 13, 0.75);
    font-weight: 700;
}

figcaption {
    text-align: center;
}


/* Header Styles */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}

.menu li {
    list-style-type: none;
    display: inline;
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.125em;
}

.menu a:hover {
    font-weight: 700;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.greeting img {
    border-radius: 50%;
    max-height: 250px;
    width: auto;
}

.greeting img, .greeting h2 {
    padding: 0 20px;
}

.greeting h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.9)
}

.greeting span {
    font-size: 2em;
    color: rgb(128, 22, 13);
}


/* Bio Styles */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    max-height: 100%;
    width: auto;
    border-radius: 5px;
}

.about-text {
    padding: 0 25px;
    background-color: rgba(245, 245, 220, 0.67);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Skills Styles */

#skills p {
    margin: 0 15%;
}

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}


/* Projects Styles */

#projects {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.033);
}

#projects h2 {
    padding-top: 25px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}

.project {
    margin: 25px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: white;
}

.screenshot {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.project h3 {
    text-align: center;
}

.project-links {
    display: flex;
    align-items: center;
}

.project-links a {
    margin-right: 25px;
}

.project-links img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}


/* Contact Styles */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container a {
    margin: 0 50px;
}

.contact-container img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}


/* Footer Styles */

#bottom {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

footer {
    background-color: black;
    padding: 20px;
}

footer p {
    color: white;
    font-size: 0.8em;
}