/* Universal Styles */

body {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 20px;
}

main {
    margin: 0 10%;
}

p {
    line-height: 1.5em;
}


/* Header Styles */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}

.menu li {
    list-style-type: none;
    display: inline;
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.125em;
}

.menu a:hover {
    font-weight: 700;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.greeting img {
    border-radius: 50%;
    max-height: 250px;
    width: auto;
}

.greeting img, .greeting h2 {
    padding: 0 20px;
}

.greeting h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.9)
}

.greeting span {
    font-size: 2em;
    color: rgb(128, 22, 13);
}


/* Bio Styles */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.about img {
    max-height: 100%;
    width: auto;
}

.about-text {
    padding: 0 25px;
    background-color: rgba(245, 245, 220, 0.67);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.about-text h2 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}